header {
    /* height: 127px; */
    background: #9e6152;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

body {
    font-family: "Inter", sans-serif;;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #0b0a0a;
    margin: 0;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
    margin-right: 109px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5em;
    margin-left: 109px;
    margin-right: 138px;
    margin-bottom: 150px;
}

.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book, .book-f {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book img {
    border: 15px solid #9e6152;
}
.book-f img {
    border: 15px solid #9e6152;
}

span {
    font-style: italic;
    font-weight: 400;
}

footer {
    background: #9e6152;
    margin: 0;
    height: 130px;
}

.title {
    font-size: 64px;
}

section {
    margin-bottom: 100px;
}

.what {
    font-size: 40px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 80px;
    margin-right: 130px;
    color: #EFE7E7;
}

footer p {
    color: #EFE7E7;
    margin-left: 91px;
    padding: 50px 0;
}

.button {
    width: 178px;
    height: 62px;
    background-color: #9e6152;
    color: #EFE7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.button:hover {
    background-color: #925749;
    cursor: pointer;
}

header p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.desc-book {
    border: 3px solid #9e6152;
    border-radius: 15px;
    padding: 8px;
    display: none;
}

.book:hover {
    cursor: pointer;
}